<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false"
         stopOnError="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         processIsolation="false"
         backupGlobals="false"
         backupStaticAttributes="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         testSuiteLoaderClass="PHPUnit\Framework\TestSuiteLoader"
         cacheDirectory=".phpunit.cache"
         cacheResult="true"
         executionOrder="depends,defects,duration"
         executionOrderDefects="biggest,normal,smallest"
         beStrictAboutTestsThatDoNotTestAnything="false"
         beStrictAboutOutputDuringTests="false"
         beStrictAboutTodoAnnotatedTests="false"
         beStrictAboutResourceUsageDuringSmallTests="false"
         enforceTimeLimit="false"
         ignoreDeprecatedCodeUnits="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="true"
         reverseDefectList="false"
         registerMockObjectsFromTestArgumentsRecursively="false">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>Integration</directory>
        </testsuite>
        <testsuite name="All Tests">
            <directory>Unit</directory>
            <directory>Integration</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
        <exclude>
            <directory suffix=".php">../src/autoload.php</directory>
        </exclude>
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="coverage.txt"/>
        </report>
    </coverage>
    
    <logging>
        <junit outputFile="test-results.xml"/>
        <testdoxHtml outputFile="testdox.html"/>
        <testdoxText outputFile="testdox.txt"/>
    </logging>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
    </php>
    
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit> 